{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BikeRent</title>
    <link rel="stylesheet" href="{% static 'css/welcome.css' %}">
    <style>
    body {
        background-image: url("/static/css/IMG/Internet_pic.jpg");
        background-size: cover;
    }
</style>
</head>
<body>
    {% block contents %}
    <div>
        <h1 class="h1_w">Bike Rental</h1>
        <p class="p_w">Online Bike rent platform</p>
    </div>
    <div align="center">
        <a href="/login/">
            <button class="button_w">Start Your Travling</button>
        </a>
    </div>
    <div align="center">
        <a href="/admin_login/">
            <button class="admin">I am an admin</button>
        </a>
    </div>
    {% endblock %}
</body>
</html>