<!DOCTYPE html>
<html>
<head>
	<title>Bikes List</title>
    <style>
        body {
            background-color: rgb(205, 215, 235);
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
			padding: 8px;
			text-align: left;
			border: 1px solid black;
		}
		th {
			background-color: #dddddd;
		}
		.is-fixed {
			background-color: #ff9999;
		}        
    </style>
</head>
<body>
	<h1>List of Bikes</h1>
    <table>
		<thead>
			<tr>
				<th>Bikecode</th>
				<th>isFixed</th>
			</tr>
		</thead>
		<tbody id="bikes-list"></tbody>
	</table>
	<button id="home-button">Home</button>
	<script>
		const bikes = [
			{ Bikecode: 1, isFixed: false },
			{ Bikecode: 2, isFixed: false },
			{ Bikecode: 3, isFixed: true },
			{ Bikecode: 4, isFixed: true }
		];
		
		const bikesList = document.getElementById('bikes-list');
		
		bikes.forEach(bike => {
			const tr = document.createElement('tr');
			const bikecodeTd = document.createElement('td');
			bikecodeTd.textContent = bike.Bikecode;
			tr.appendChild(bikecodeTd);
			const isfixedTd = document.createElement('td');
			isfixedTd.textContent = bike.isFixed;
			tr.appendChild(isfixedTd);
			if (bike.isFixed) {
				tr.classList.add('is-fixed');
			}
			bikesList.appendChild(tr);
		});

        const homeButton = document.getElementById('home-button');
		homeButton.addEventListener('click', () => {
			window.location.href = '/';
		});
	</script>
</body>
</html>
