<!DOCTYPE html>
{% load static %}
<html>
 <head>
  <title>Bike Rervation</title>
  <meta charset="UTF-8">
     <!-- CSS Link !-->
     <link rel="stylesheet" href="{% static 'css/main.css' %}"/>

     <!-- Responsive !-->
     <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
     <!-- JS Link !-->

 </head>
 <body>
    {% block contents %}

    {% endblock %}
 </body>
</html>