{% extends "base.html" %}
{% load static %}
{% block contents  %}

    <h1>Sign In</h1>

    {% if AccountCreate %}
       <h1>Registered :)</h1>
    {% else %}
       <div class="reg">
           <table class="reg_form">
               <form enctype="multipart/form-data" method="post">
                   {% csrf_token %}
                   {{ account_form.as_table }}      {# id, email address, password #}
                   {{ add_account_form.as_table }}　 {# name, surname #}
                   <tr><td></td><td>
                   <input class="btn" type="submit" name="" value="Register">
                   </td></tr>
               </form>
           </table>
       </div>
    {% endif %}

    <p>Already have an account?</p>
    <a href="{% url 'bike_app:login' %}">Login</a>
{% endblock %}