{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Compaint Add</title>
    <link rel="stylesheet" href="{% static 'css/complaint.css' %}">
    <style>
        .back-button {
            position: absolute;
            top: 40px;
            right: 40px;
        }

        .back-button a {
            text-decoration: none;
            color: #333;
            font-size: 14px;
            padding: 5px 10px;
            background-color: #eee;
            border-radius: 3px;
        }
    </style>
</head>
<div>
    <div class = "container">
        <div class = "row">
            <h1>FeedBack Page</h1>
        </div>
    </div>
    <div class="back-button">
        <a href="/">Back to Home</a>
    </div>
</div>
<div class = "container">
    <div class = "row">
        <div class = "login-wrapper">
            <div class = "box">
                <h6>Give us FeedBack :)</h6>
                <form class="content-wrap" role="form" action="{% url 'bike_app:feedback' userid.useraccount.random_url %}" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name == 'Descriptions' %}
                            <div class="fieldWrapper">
                                <label for="{{ field.id_for_label }}" style="display: none;">Give us feedback :)</label>
                                {{ field }}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="action">
                        <div class="button">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
